**model.py**

Model building file that is responsible for creating a model, including:
    - feature engineering
    - all data preprocessing
    - model training

In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LinearRegression
import pickle

PATH = Path(Path.cwd())
DATA = Path(PATH, 'deployment', 'data', 'raw', 'tree_months_sales.csv')

In [8]:
df = pd.read_csv(DATA)
df

    rate  sales_in_first_month  sales_in_second_month  sales_in_third_month
0    NaN                     2                    500                   300
1    NaN                     4                    300                   650
2   four                   600                    200                   400
3   nine                   450                    320                   650
4  seven                   600                    250                   350
5   five                   550                    200                   700

In [9]:
df['rate'].fillna(0, inplace=True)

df['sales_in_first_month'].fillna(df['sales_in_first_month'].mean(), inplace=True)

X = df.iloc[:, :3]
X

    rate  sales_in_first_month  sales_in_second_month
0      0                     2                    500
1      0                     4                    300
2   four                   600                    200
3   nine                   450                    320
4  seven                   600                    250
5   five                   550                    200

In [ ]:
def convert_word_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['rate'] = X['rate'].apply(lambda x : convert_word_to_int(x))

y = df.iloc[:, -1]


regressor = LinearRegression()

regressor.fit(X, y)

pickle.dump(regressor, open('model.pkl','wb'))

In [2]:
import pickle 
model = pickle.load(open('model.pkl','rb'))
# print(model.predict([[4, 300, 500]]))

FileNotFoundError: [Errno 2] No such file or directory: 'model.pkl'

In [3]:
dir